body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 50px;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button {
    padding: 30px;
    margin: 25px;
    border: 0;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 5px;
}
.button-correct{
    background-color: #17b224;
}
.button-correct:hover{
    background-color: #1a8723;
}
.button-incorrect{
    background-color: #bb1919;
}
.button-incorrect:hover{
    background-color: #861d1d;
}